@media(max-width: 768px) {
    
    .remodal-wrapper.remodal-is-opened,
    .remodal-wrapper.remodal-is-closed,
    .bandits_added.open {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .remodal-wrapper.remodal-is-opened{
        -webkit-animation-name: anim-open;
        animation-name: anim-open;
        pointer-events: visible;
    }
    .remodal-wrapper.remodal-is-closed {
        -webkit-animation-name: anim-close;
        animation-name: anim-close;
        opacity: 0;
        pointer-events: none;
    }

    .bandits_added.open{
    	-webkit-animation-name: bandits_added;
    	animation-name: bandits_added;
    }
    

    @-webkit-keyframes bandits_added{
    	0% {
    		opacity: 0;
    		-webkit-transform:translate3d(10px,0,0);
    	}
    	100% {
    		opacity: 1;
    		-webkit-transform:translate3d(0,0,0);
    	}
    }

    @keyframes bandits_added{
    	0% {
    		opacity: 0;
    		-webkit-transform:translate3d(10px,0,0);
    		transform:translate3d(10px,0,0);
    	}
    	100% {
    		opacity: 1;
    		-webkit-transform:translate3d(0,0,0);
    		transform:translate3d(0,0,0);
    	}
    }
    
    @-webkit-keyframes anim-open {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
    @keyframes anim-open {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @-webkit-keyframes anim-close {
        0% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
        }
    }
    @keyframes anim-close {
        0% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
        }
    }
    /* Inner elements animations */
    @-webkit-keyframes anim-elem {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 25px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
    @keyframes anim-elem {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}
