@media screen and (min-width: 768px) {
    .social .button-wrap{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-order-slide2 {
        position: absolute!important;
        bottom: 87px!important
    }
    .slide-content-bandits-mobile {
        display: none!important;
    }
    .btn-order {
        position: fixed;
        bottom: 87px;
        margin-left: auto!important;
        margin-right: auto!important;
        left: 0;
        right: 0;
        font-size: 12px!important
    }
    #cd-cart {
        width: 672px!important
    }
    #currency_separate {
        display: none;
    }
    #cd-cart > * {
        padding: 3em!important;
    }
    .currency_box input[type=radio] + label {
        border: 1px solid #fff;
    }
    .currency_box input[type=radio] + label:hover {
        background: #fff;
        color: #000
    }
    .currency_box input[type=radio]:checked + label {
        background-image: none;
        background-color: #fff;
        color: #000;
    }
    .remodal-wrapper.remodal-is-opened {
        -webkit-transition: ease;
        -o-transition: ease;
        -ms-transition: ease;
        -moz-transition: ease;
        transition: ease;
    }
    #cd-cart-trigger {
        background: none!important;
        height: 17px!important;
        width: 32px!important;
    }
    .cart.open-modal {
        top: 42px;
    }
    .cart > a > div.first,
    .cart > a > div.second,
    .cart > a > div.third,
    .cart > a > div.fourth {
        height: 3px;
    }
    .cart > a > div.first {
        width: 19px;
        -webkit-transform: translate(9px, -4px) rotateZ(-54deg);
        -o-transform: translate(9px, -4px) rotateZ(-54deg);
        -ms-transform: translate(9px, -4px) rotateZ(-54deg);
        -moz-transform: translate(9px, -4px) rotateZ(-54deg);
        transform: translate(9px, -4px) rotateZ(-54deg);
    }
    .cart > a > div.second {
        width: 30px;
    }
    .cart > a > div.third {
        width: 26px;
        -webkit-transform: translate(2px, 6px);
        -o-transform: translate(2px, 6px);
        -ms-transform: translate(2px, 6px);
        -moz-transform: translate(2px, 6px);
        transform: translate(2px, 6px);
    }
    .cart > a > div.fourth {
        width: 22px;
        -webkit-transform: translate(4px, 12px);
        -o-transform: translate(4px, 12px);
        -ms-transform: translate(4px, 12px);
        -moz-transform: translate(4px, 12px);
        transform: translate(4px, 12px);
    }
    #dialog__close {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .social{
        margin-top: 30px;
    }
    .social .button-wrap{
        width: 100%;
        padding: 1.5em 0 0;
    }
    #cd-cart .checkout-btn {
        position: relative;
    }
    .btn-order-slide2 {
        display: none!important;
    }
    .slide-content-bandits .bg-content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .slide-content-bandits h2 {
        font-size: 21px;
    }
    #section0 {
        background-image: none;
    }
    #section0 .bg-slide1 {
        background-size: 700px!important;
        height: auto;
    }
    ul.slide-content-bandits .content-bandits {
        height: auto;
    }
    ul.slide-content-bandits .content-bandits h2 {
        letter-spacing: 5px;
        margin: 0!important;
    }
    .slide-content-bandits {
        display: none!important;
    }
    .slide-content-bandits-mobile {
        display: block!important;
    }
    .dialog .input-group textarea.form-control {
        min-height: 95px;
    }
    .dialog .input-group .form-control {
        height: 32px
    }
    .contact-us-btn,
    .faqs-btn {
        left: 0;
        right: 0;
    }
    .social .button-wrap{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-us-btn {
        display: none;
    }
    .bandits_added {
        display: inline-block;
        width: 35px;
        font-size: 9px;
        position: relative;
        top: 2px;
        left: 10px;
    }
    #currency_separate {
        display: block;
        display: inline-block;
    }
    .currency_box input[type=radio] + label {
        padding: 0;
        width: 40px;
    }
    .currency_box input[type=radio] + label,
    .currency_box input[type=radio]:checked + label {
        background-color: transparent;
    }
    .currency_box {
        margin-bottom: 0px!important;
    }
    #modal-qty-white,
    #modal-qty-black {
        font-size: 20px;
    }
    .dialog__content {
        height: 100%;
        display: table;
    }
    .dialog__content #dialog__content {
        display: table-cell;
        vertical-align: middle;
    }
    .dialog__content #dialog__content h1 {
        padding: 25px 0;
    }
    #section5 h3 {
        font-size: 15px;
    }
    .info-contact {
        width: 100%;
        font-size: 11px!important;
        line-height: 1.4!important;
        text-align: left!important;
    }
    .office_box h5 {
        font-size: 11px;
        margin: 0;
    }
    .office_box p {
        font-size: 11px!important;
        padding: 0!important;
        line-height: 1.6;
    }
    .contact-us-btn,
    .submit-btn,
    .faqs-btn {
        width: 100%;
        font-size: 10px!important;
        border-radius: 4px;
    }
    
    #somedialog .input-group textarea.form-control {
        min-height: 100px;
    }
    #somedialog .input-group .form-control {
        height: 35px;
    }
    .dialog__content #dialog__content h1 {
        font-size: 15px!important;
    }
    #dialog__close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        display: block;
        font-size: 20px;
        padding: 22px;
    }
    .cd-cart.items-added span {
        top: -20px;
        right: -6px;
    }
    .cart {
        top: 27px;
        -webkit-transition: top 0.2s ease-in;
        -o-transition: top 0.2s ease-in;
        -ms-transition: top 0.2s ease-in;
        -moz-transition: top 0.2s ease-in;
        transition: top 0.2s ease-in;
    }
    .cart.open-modal {
        top: 3px;
    }
    .cart > a > div.line1,
    .cart > a > div.line2 {
        width: 22px!important;
    }
    .cart > a > div.line1 {
        -webkit-transform: translate(0, 10px) rotate(-45deg)!important;
        -o-transform: translate(0, 10px) rotate(-45deg)!important;
        -ms-transform: translate(0, 10px) rotate(-45deg)!important;
        -moz-transform: translate(0, 10px) rotate(-45deg)!important;
        transform: translate(0, 10px) rotate(-45deg)!important;
    }
    .cart > a > div.line2 {
        -webkit-transform: translate(0, 10px) rotate(45deg)!important;
        -o-transform: translate(0, 10px) rotate(45deg)!important;
        -ms-transform: translate(0, 10px) rotate(45deg)!important;
        -moz-transform: translate(0, 10px) rotate(45deg)!important;
        transform: translate(0, 10px) rotate(45deg)!important;
    }
    #cd-cart-trigger {
        height: 17px!important;
        width: 24px!important;
    }
    .view-cart-link {
        width: 95%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .shipping {
        text-align: center;
        font-size: 0.8em;
        color: #fff;
        top: -14px;
        position: relative;
    }
    .remodal-wrapper {
        background-color: #000!important;
    }
    figure.effect-lexi {
        background: none!important;
    }
    .text-product {
        left: 0%!important;
        opacity: 1!important;
        margin-top: 0;
    }
    h1 {
        font-size: 1.2em!important;
        margin: 0!important
    }
    h1#title_section0 {
        font-size: 1em!important;
        letter-spacing: 5px;
        bottom: 100px;
    }
    .header {
        padding-top: 25px;
    }
    .intro p {
        padding: 30px 0;
    }
    .logo {
        width: 75px;
    }
    .text-product {
        width: 100%;
    }
    .btn-order-home,
    .btn-order-custom {
        display: none!important;
    }
    .gallery-img {
        width: 100%;
        display: block;
    }
    .gallery-img img {
        width: 100%;
    }
    #section1,
    #section2 {
        background-image: none;
    }
    .icon-gif {
        width: 50px;
    }
    .btn-order-fixed {
        display: block!important;
        width: 95%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 10px;
    }
    .btn-order-fixed .btn-order,
    .btn-order-fixed .btn-contact-us {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .text-product h1 {
        margin: 0!important;
        font-size: 1.2em!important
    }
    .text-product .icon-gif,
    .text-product h1,
    .text-product p,
    .text-product button {
        left: 0%;
        opacity: 1
    }
    .text-product .line-product {
        position: relative;
        opacity: 0;
        bottom: 8px;
        margin: 10px 0;
    }
    #fp-nav {
        display: none;
    }
    .close-btn {
        display: block!important;
    }
    .grid {
        background: #000;
        padding: 0!important;
        width: 100%!important;
    }
    .grid figure {
        float: none!important;
        margin-right: auto!important;
        margin-left: auto!important;
        background: transparent!important;
        width: 90%!important;
        border: 2px solid #000;
    }
    .grid figure img {
        width: 70%!important;
        height: 100%!important;
        margin-left: auto!important;
        margin-right: auto!important;
        -webkit-transition: none!important;
        -webkit-transform: none!important;
        -o-transition: none!important;
        -o-transform: none!important;
        -ms-transition: none!important;
        -ms-transform: none!important;
        -moz-transition: none!important;
        -moz-transform: none!important;
        transition: none!important;
        transform: none!important;
    }
    .grid figure figcaption {
        float: right;
        width: 50%!important;
        position: relative!important;
        padding-left: 0!important;
        padding-right: 1em!important;
        padding-top: 0!important
    }
    #btn-min-white,
    #btn-plus-white,
    #btn-min-black,
    #btn-plus-black {
        width: 20px;
        text-align: center;
    }
    #btn-min-white,
    #btn-min-black {
        padding-right: 10px;
    }
    #btn-plus-white,
    #btn-plus-black {
        padding-left: 10px;
    }
    figure.effect-lexi div.figure-img {
        position: relative;
        width: 50%;
        float: left;
    }
    figure.effect-lexi h2 {
        color: #fff;
        -webkit-transition: none!important;
        -webkit-transform: none!important;
        -o-transition: none!important;
        -o-transform: none!important;
        -ms-transition: none!important;
        -ms-transform: none!important;
        -moz-transition: none!important;
        -moz-transform: none!important;
        transition: none!important;
        transform: none!important;
    }
    figure.effect-lexi figcaption::before {
        display: none;
    }
    figure.effect-lexi figcaption::before {
        width: 260px!important;
        height: 260px!important;
    }
    .grid figure p {
        font-size: 12px!important
    }
    .grid figure span#white-add,
    .grid figure span#black-add {
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 4px;
        position: relative;
        top: 12px;
    }
    .grid figure p span.add-to-cart {
        font-size: 10px!important
    }
    .grid figure p button {
        padding: 3px 12px!important;
        font-size: 12px!important
    }
    figure.effect-lexi p {
        width: 100%!important;
        margin-top: 12px!important;
        padding: 0!important;
        text-align: left!important;
        color: #fff;
        position: relative!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        -ms-transform: none!important;
        -moz-transform: none!important;
        transform: none!important;
        opacity: 1!important;
    }
    .grid figure h2 {
        font-size: 15px!important;
        text-align: left!important;
    }
    .cd-cart {
        background: none!important;
        right: -3px!important;
    }
    #cd-cart {
        width: 100%!important;
        padding-top: 0!important;
        position: fixed!important;
    }
    #cd-cart > * {
        padding: 0 1em!important;
        margin-top: 15px;
    }
    #cd-cart .cd-cart-items li td:nth-child(3) {
        top: 111px;
        font-size: 1em!important;
    }
    #cd-cart .cd-cart-items li td:nth-child(2),
    #cd-cart .cd-cart-items li td:nth-child(3) {
        margin-left: 10px;
    }
    #cd-cart .cd-cart-items li:first-child td {
        padding-bottom: 0!important
    }
    #cd-cart .cd-cart-items li td div {
        width: 100%!important
    }
    #cd-cart .cd-cart-total {
        padding-top: 0!important;
        padding-bottom: 0.5em!important
    }
    #cd-cart .checkout-btn {
        float: none;
        max-width: 100%;
        line-height: 39px!important;
        padding: 0;
        bottom: 10px;
    }
    #cd-cart #cart-total {
        font-size: 2.3em!important;
        margin-top: -16px;
    }
    span.spinner > .sub,
    span.spinner > .add {
        font-size: 26px!important;
    }
    #cd-cart h2 {
        font-size: 1.2em!important;
        width: 100%!important;
        padding: 15px 0px!important;
    }
    input[type=number] {
        font-size: 2em!important;
        padding-left: 1px;
    }
    .bg-overlay-video .box-video-url {
        width: 100%;
    }
    #play-video-btn {
        width: 80px;
    }
}

@media screen and (max-width: 992px) {
    #section0 .bg-slide1 {
        background-size: 1300px
    }
    #play-video-btn {
        top: 0
    }
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
    .text-product {
        padding: 0 30px;
    }
    .text-contact {
        width: 80%;
    }
    .footer {
        display: none!important;
    }
    .bg-overlay-video .box-video-url iframe {
        height: 400px
    }
    .box-video {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: table;
    }
    .cart {
        right: 30px;
    }
    #fp-nav.right {
        right: 48px;
    }
}

@media screen and (max-width: 1200px) {
    .line-product {
        left: 0
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .text-product,
    .text-contact {
        padding: 0 60px;
    }
}

@media screen and (min-width: 1200px) {
    #cd-cart .cd-cart-items li {
        padding: 1em 0!important;
    }
}

@media screen and (max-height: 735px) {
    .cd-cart-items > li > table > tbody > tr > td:first-child > div {
        width: 45%!important
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    #section0{
        background-image: none;
    }
    #section0 .bg-slide1 {
        background-size: 1100px;
    }
    h1#title_section0 {
        bottom: 110px;
        font-size: 1em!important;
        letter-spacing: 10px;
    }
    .btn-order {
        bottom: 55px;
    }
    .grid {
        margin: 0!important;
        max-width: 710px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    #btn-checkout{
        position: inherit;
        width: 100%!important
    }

    #cd-cart .cd-cart-total{
        padding-top: 2em!important
    }

    #form-preorder input{
        font-size: 12px;
    }

    .slide-content-bandits .bg-content{
        width: 75%;
        margin-top: 25px;
    }
    .slide-content-bandits h2{
        font-size: 20px;
        line-height: 1;
        margin: 0!important
    }

    .slide-content-bandits p{
        font-size: 15px!important;
    }
}


/* ----------- iPad mini ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    #section0 .bg-slide1 {
        background-size: 1100px!important;
    }
    h1#title_section0{
        letter-spacing: 5px;
    }
}

/* Potrait Orientation */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #cd-cart h2 {
        font-size: 1.8em!important;
    }
    .currency_box {
        margin: 10px 0;
    }
    .currency_box input[type=radio] + label {
        width: 60px;
    }
    .currency_box input[type=radio]:checked + label {
        background: #fff
    }
    .cart.open-modal {
        top: 9px!important
    }
    #currency_separate {
        display: none;
    }
    #cd-cart .cd-cart-items li td div {
        width: 75%!important;
    }
    .btn-order {
        position: relative;
        bottom: 0;
    }

    .grid figure h2 {
        font-size: 25px!important;
    }
    .grid figure p span.add-to-cart {
        font-size: 12px!important;
    }

    .bandits_added{
        width: 100px;
        font-size: 12px;
    }
    .logo{
        width: 120px
    }

    .info-contact{
        font-size: 15px!important
    }

    .office_box p {
        font-size: 13px!important;
    }
    .faqs-btn{
        position: relative!important;
    }
}


/* Landscape Orientation */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #cd-cart {
        padding-top: 0px!important;
    }
    #cd-cart .checkout-btn {
        bottom: 20px;
    }
    .cart.open-modal {
        top: 44px;
    }
    .currency_box input[type=radio]:checked + label {
        background-color: #fff;
    }
    #cd-cart .cd-cart-items li td div {
        width: 75%;
    }
    #currency_separate {
        display: none;
    }
    .grid {
        width: 80%;
    }
    #play-video-btn{
        top: 120px;
    }
    .slide-content-bandits h2{
        margin: 0;
    }
    #fp-nav ul{
        display: none;
    }
    .info-contact{
        padding: 10px 0!important
    }
    .social {
        margin-top: 20px;
    }

    .button-wrap{
        padding: 1.5em 0 0!important;
    }
    .slide-content-bandits h2{
        margin:0!important;
        font-size: 20px;
    }

    .slide-content-bandits p{
        font-size: 13px;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #cd-cart .checkout-btn {
        top: 20px;
        bottom: 20px
    }
    #form-preorder {
        margin-top: 10px
    }
    .cart.open-modal {
        top: 2px!important;
        right: 20px
    }
    #cd-cart h2 {
        font-size: 1em!important;
    }
    .currency_box {
        margin: 0;
    }
    .slick-slide {
        padding: 0 15px;
    }
    .slide-content-bandits .bg-content {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .slide-content-bandits h2 {
        padding-bottom: 10px;
        font-size: 14px
    }
    .slide-content-bandits p {
        line-height: 1.4;
        padding: 0;
        font-size: 0.8em!important;
        letter-spacing: 0.1;
    }
    #section0 .bg-slide1 {
        background-size: 550px!important;
        height: auto;
    }
    .slick-dots {
        bottom: 55px!important;
    }
    .slick-dots li button:before {
        font-size: 8px!important;
    }
    .btn-order-fixed {
        width: 80%;
    }
    .btn-order-fixed .btn-order,
    .btn-contact-us,
    .view-cart-link,
    #cd-cart .checkout-btn {
        font-size: 10px!important;
    }
    #cd-cart .checkout-btn {
        height: 37px!important;
    }
    .slick-slider {
        margin-bottom: 0!important
    }
    .office_box p {
        padding: 0!important
    }
    .grid figure h2 {
        font-size: 12px!important;
    }
    .grid figure p span.add-to-cart {
        font-size: 7px!important
    }
    #section2 h3 {
        font-size: 15px;
    }
    .button-wrap {
        padding: 1.5em 0 0!important;
    }
    .info-contact{
        padding: 10px 0!important;
    }

    .office_box{
        display: none;
    }

    .social{
        margin-top: 5px
    }

    .social .button-wrap{
        padding: 1em 0 0!important;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #cd-cart .checkout-btn {
        position: relative!important;
        bottom: 0;
    }
}
